{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}
{% block style %}
    <style>
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.password-reset-container {
  background: linear-gradient(to right, #7F00FF, #E100FF);
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 50px 0;
  margin-top:15%;

}

.password-reset-container h1 {
  font-size: 48px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.password-reset-container p {
  font-size: 24px;
  margin-top: 30px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated a{
    font-weight: bolder;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

    </style>
{% endblock %}
{% block content %}
<div class="password-reset-container">
  <h1 class="animated fadeInDown">Password reset complete</h1>
  <p class="animated fadeInUp">Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
</div>
{% endblock %}

