{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}
{% block style %}
    <style>
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.container{
    padding: 10%;
}
    </style>
{% endblock %}
{% block content %}
  <div class="container text-center">
    <div class="animated flipInY">
      <i class="fas fa-check-circle fa-5x text-success mb-3"></i>
    </div>
    <h1 class="text-primary">Check your inbox.</h1>
    <p class="text-muted">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  </div>
{% endblock %}
