{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}
{% block style %}
    <style>
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.container {
  background-color: #f7fafc;
  border-radius: 10px;
  padding: 30px;
    margin:5%;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #4a86e8;
  border-color: #4a86e8;
}

.btn-primary:hover {
  background-color: #386bce;
  border-color: #386bce;
}

.text-danger {
  color: #dc3545;
}

    </style>
{% endblock %}


{% block content %}

{% if validlink %}

<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Set a new password!</h1>
        </div>
        <div class="card-body">
          <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block mt-4">Change my password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <p class="text-danger">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}

