{% extends 'base.html' %}
{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 36px;
            font-weight: bold;
            margin: 20px 0;
        }

        p {
            margin: 10px 0;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        /* Main section styles */
        main {
            margin-top: 100px;
            padding: 20px;
        }

        section {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block content %}
    <br>
    <section>
		<h1>About AdventureAwaits</h1>
		<p>AdventureAwaits is a convenient and user-friendly platform for booking and managing events. Our app offers a wide variety of events packages and allows users to book events quickly and easily.</p>
		<p>With our app, you can browse events, view event details and prices, and choose your locations. You can also manage your bookings, view your order history.</p>
		<p>Our mission is to provide a seamless and enjoyable event booking experience for our users. We are constantly updating and improving our app to meet the evolving needs of our customers.</p>
		<p>Thank you for choosing AdventureAwaits for your event needs!</p>
    <br>
	</section>
{% endblock %}