{% extends 'base.html' %}

{% block style %}
    <style>
    .form-container {
        display: flex;
        justify-content: center;
    }

    .form-wrapper {
        max-width: 800px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-table {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .form-table td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .form-table th {
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        text-align: left;
    }

    .form-table input[type="text"],
    .form-table input[type="number"],
    .form-table select,
    .form-table textarea {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    .form-table input[type="file"] {
        width: auto;
        padding: 5px;
        font-size: 16px;
    }

    .form-table button[type="submit"] {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: #28a745;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-table button[type="submit"]:hover {
        background-color: #218838;
    }

</style>
{% endblock %}

{% block content %}
    <br>
    <div class="form-container">
        <div class="form-wrapper">
            <h1>Add services</h1>
            <form method="post" action="{% url 'service_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="form-table">
                    {{ form.as_table }}
                </table>
                <br>
                <button type="submit" class="btn btn-success">Confirm</button>
            </form>
        </div>
    </div>
    <br>
{% endblock %}