{% extends 'base.html' %}
{% block style %}
    <style>
        .ticket-container {
            width: 500px;
            border: 2px solid black;
            padding: 20px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            animation: zoom-in 0.3s ease-in-out forwards;
        }
        @keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
        .ticket-header {
            background-color: #E7E7E7;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
            border-bottom: 2px solid black;
        }

        .ticket-table {
            margin-top: 20px;
            width: 100%;
        }

        .ticket-table th {
            font-weight: bold;
            text-align: left;
            padding: 10px 20px;
            background-color: #F2F2F2;
            border-bottom: 1px solid black;
        }

        .ticket-table td {
            padding: 10px 20px;
            border-bottom: 1px solid black;
        }

        .ticket-footer {
            margin-top: 20px;
            text-align: center;
        }

        footer{
             position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <br>
    <div class="ticket-container">
        <div class="ticket-header">Booking Confirmation</div>
        <table class="ticket-table">
            <tr>
                <th>Booking Date:</th>
                <td>{{ booking.date_booked }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ booking.name }}</td>
            </tr>
            <tr>
                <th>Service:</th>
                <td>{{ booking.service }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ booking.email }}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{ booking.location }}</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>{{ booking.featured_package_price }} {{ booking.payment_currency }}</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>{{ booking.phone }}</td>
            </tr>
        </table>
        <div class="ticket-footer">Thank you for booking {{ service.title }}</div>
    <a href="{% url 'booking_pdf' booking.id %}">
    <button type="button" class="btn btn-primary" class="print-button">Print PDF</button>
</a>

    </div>
    <br>
    <script>
const bookingConfirmation = document.querySelector('.ticket-container');
bookingConfirmation.style.visibility = 'visible';

</script>
{% endblock %}

{#.booking-container {#}
{#  border: 2px solid #ccc;#}
{#  padding: 20px;#}
{#  margin: 20px;#}
{#}#}
{##}
{#h1 {#}
{#  margin-top: 0;#}
{#}#}
{##}
{#table {#}
{#  width: 100%;#}
{#  border-collapse: collapse;#}
{#  margin-top: 20px;#}
{#}#}
{##}
{#th, td {#}
{#  padding: 10px;#}
{#  text-align: left;#}
{#  border-bottom: 1px solid #ddd;#}
{#}#}
{##}
{#th {#}
{#  background-color: #f2f2f2;#}
{#}#}
