{% extends 'base.html' %}

{% block title %}
    User Profile
{% endblock title %}
{% block style %}
    <style>
    footer{
             position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
        }
    .table {
    border: 1px solid #dee2e6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    </style>
{% endblock %}
{% block content %}
<br>
    {% if user.is_authenticated %}

        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img style="height: 350px" src="https://avatars.dicebear.com/v2/male/157b66afeb448bc89c7f73f9b152d4a9.svg"
                                 alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-top:50px;">
    <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td><strong>Username:</strong></td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td>{{ customer.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone:</strong></td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

                </div>
            </form>
        </div>

    {% endif %}
</br>
{% endblock content %}
